// Test for Including into Main template
extends ../layouts/main.jade

block title
    title About Title (Include Test)

block content
    h1 Here's the About section
    | This is some text in the about section
