extends /src/pug/layouts/main.pug

block title
    title.title this is a gallery title with class = 'title'

block content
    h3 This page was rendered out from a layout using the "include" syntax
    p Here we go with some proper line breaks
    p    and whatever
    br
    p Let's use this page to demo a script which iterates over a content
    directory and blasts out a bunch of linking anchor tags, and explore a way
    to include captions and other info through a sidecar file. 
