extends /src/pug/layouts/main.pug

block title
    title.title this is a gallery title with class = 'title'

block content
    h3 This is some shit up in here
    p Here we go with some proper line breaks
    p    and whatever
    br
    p Okay so at least now the only thing not autoreloading is vim itself
