extends /src/pug/layouts/main.pug

block title
    title Up Here in the Title Bar We Can Put Whatever We Want, Per-Page

block content
    body
    h3#aboutTitle Here's the About section: Pugitude
    p.
        Pugitude is all about putting together the straight-forward static
        site generator that I wish already existed. Where most any other 
        offering is oriented toward blog content, Pugitude makes no assumptions
        about your content, so there's no opinion to work around. I wanted
        to make a generator that would allow making portfolio or gallery sites
        sensible and streamlined.
