doctype html
html(lang='en')
    head
        title Welcome to the Pugitude Index Page
        link(rel='stylesheet' type='text/css' href='../css/main.min.css')
            
    body
        h1 Liveserver has started and opened your browser window
        h2 Let's start with some basics
        div.row
            div.col-4
                p. 
                    This content is some
                    run on, multi-line sep
                    arated <b>con
                    tent</b> inside of one

                    "p." tag, which renders out into

                    one paragraph tag. However, the line breaks show up as breaks in
                    the text all the same. 

                    This page is created entirely stand-alone from any layouts or includes.
            div.col-8
                p.
                    Here is some text in a second column. Cool to see. Sadly, `live-server` is not refreshing the browser itself
                    when run as a gulp task. We will need to use [Ctrl] + [r] to manually reload our changes.
        div.row
                p.col-6
                a(href="galleries/gallery1.html") Link to templated page
                p.col-6 Here is some text offset to the centre of the container div.
