doctype html
html(lang='en')
    head
        title Welcome to the Pugitude Index Page
        link(rel='stylesheet' type='text/css' href='../css/main.min.css')
            
    body
        h1 Liveserver has started and opened your browser window
        h2 Let's start with some basics
        div.row
            div.col-4
                p. 
                  This content is some
                  run on, multi-line sep
                  arated con
                  tent inside of one

                  "p." tag, which renders out into

                  one paragraph tag. However, the line breaks show up as breaks in
                  the text all the same. Let's see if we can get auto-save
                  working. Sadly, `live-server` is not refreshing the browser itself
                  when run as a gulp task.
                p.
                    Sad that stupid dependency hell has busted using the vanilla framework.
                    cool to see.
            div.col-4
                p.
                a(href="galleries/gallery1.html") Link to templated page
