doctype html
html(lang='en')
    head
        title Hi Adrian, we are in the title
    body
        h1 Speed is paramount
        | still testing
        | is gulp.watch working at all?
        | Alright now we're on course.
