doctype html
html(lang='en')
    head
        title Let's see if updating and such works.
    body
        h1 Having a thing work well is paramount
        h2 what's going on here?
        p. 
            Not sure if anything's working at all.
            live-server isn't working through gulp which is really weird.

