/* IMPORTANT:   ALL OVER-RIDES OF FRAMEWORK STYLES GO ABOVE THE IMPORT LINE */
$font_base_family: 'Lekton';
$assets_path: './assets';

@import 'vanilla-framework/scss/build';

/* latin-ext */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: local('Lekton'), local('Lekton-Regular'), url(https://fonts.gstatic.com/s/lekton/v7/8AKkQS1IQ0T_1VSlqD3lcfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
};
/* latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: local('Lekton'), local('Lekton-Regular'), url(https://fonts.gstatic.com/s/lekton/v7/GY6PlTlcpI9OWorXeq8Mhg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$my_base_color: #444;

html {
    max-width: 80em;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2em;
    font-size: 11pt;
}
     
body {
    max-width: 60em;
    color: $my_base_color;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}
